<table class="table table-striped ptable">
  <tbody>
  <ng-container *ngFor="let item of appList.data">
    <tr *ngIf="item.type == 'build'">
      <td>
        <ng-container *ngIf="item.d.data.end_time">
          <div class="big">{{ dt(item.d.data.end_time)| amLocal | amDateFormat:'ll'}}</div>
          <b>{{ dt(item.d.data.end_time)| amLocal | amDateFormat:'LTS'}}</b>
        </ng-container>
        <ng-container *ngIf="!item.d.data.end_time">
          <div class="big">{{ dt(item.d.data.start_time)| amLocal | amDateFormat:'ll'}}</div>
          <b>{{ dt(item.d.data.start_time)| amLocal | amDateFormat:'LTS'}}</b>
        </ng-container>
      </td>
      <td>
        <div *ngIf="item.d.commit_count > 0">
          <span (click)="openLog(convertApp(item), 'build')" style="cursor: pointer; text-decoration: underline"><b>{{ item.d.commit_count }}</b> commit(s)</span>
          by
          <b>{{ item.d.data.data.commits[0]?.author.name }}</b>
          in
          <b>{{item.d.data.data.input.yaml.app.name}} {{item.d.data.data.input.version}}</b>
        </div>
        <div *ngIf="item.d.commit_count == 0">
          <b>{{ item.d.commit_count }}</b>
          commit(s)
          in
          <b>{{item.d.data.data.input.yaml.app.name}} {{item.d.data.data.input.version}}</b>
        </div>
        <div>
          Started at
          <b>{{ dt(item.d.data.start_time)| amLocal | amDateFormat:'ll LTS'}}</b>
          <ng-container *ngIf="item.d.data.end_time"> and completed by
            <b>{{ dt(item.d.data.end_time)|
              amLocal | amDateFormat:'ll LTS'}}</b>
          </ng-container>
        </div>
        <div *ngIf="item.d.data.data.artifacts_size_bytes">Size
          <b>{{item.d.data.data.artifacts_size_formatted}}</b>
          ({{item.d.data.data.artifacts_size_bytes|number}} bytes)
        </div>

        <ng-container *ngIf="item.d.data.end_time">
          <div>Took
            <b>{{ buildTime(item) | secondsToTime}}</b>
          </div>
        </ng-container>
        <br>
        <div>Version
          <b>{{item.version}}.{{item.d.build_number}}</b>
        </div>
        <div (click)="openLog(convertApp(item), 'build')" [ngClass]="{
                    'blue-label': item.status == 'success',
                    'red-label': item.status == 'failed',
                    'orange-label': item.status == 'running',
                    'ulinef': true
                }">{{item.status|uppercase}}
        </div>
        <div class="pull-left">
          <span *ngIf="item.d.error_count == 0" class="text-success">{{item.d.error_count}} error(s)</span>
          <span (click)="openLog(convertApp(item), 'build', 'error')" *ngIf="item.d.error_count > 0"
                class="text-danger" style="cursor: pointer; text-decoration: underline">{{item.d.error_count}}
            error(s)</span>
          <br>
          <span *ngIf="item.d.warning_count == 0"
                class="text-success">{{item.d.warning_count}} warning(s)</span>
          <span (click)="openLog(convertApp(item), 'build', 'warn')" *ngIf="item.d.warning_count > 0"
                class="text-warning" style="cursor: pointer; text-decoration: underline">{{item.d.warning_count}}
            warning(s)</span>
        </div>
        <div class="pull-right">
          <button (click)="openLog(convertApp(item), 'build')" class="btn btn-default mr-5">L</button>
          <button (click)="openData(item, 'build')" class="btn btn-default">D</button>
        </div>
      </td>
    </tr>

    <tr *ngIf="item.type == 'deploy'">
      <td>
        <ng-container *ngIf="item.d.data.end_time">
          <div class="big">{{ dt(item.d.data.end_time)| amLocal | amDateFormat:'ll'}}</div>
          <b>{{ dt(item.d.data.end_time)| amLocal | amDateFormat:'LTS'}}</b>
        </ng-container>
        <ng-container *ngIf="!item.d.data.end_time">
          <div class="big">{{ dt(item.d.data.start_time)| amLocal | amDateFormat:'ll'}}</div>
          <b>{{ dt(item.d.data.start_time)| amLocal | amDateFormat:'LTS'}}</b>
        </ng-container>
      </td>
      <td>
        <div>
          <b>DEPLOYED</b>
          <span (click)="monitoringView(item)" style="cursor: pointer; text-decoration: underline">
                        <b>{{ item.d.data.data.deployed_instances }}</b> Instance(s)</span>
          of
          <b>{{item.d.data.data.input.yaml.app.name}} {{item.d.data.data.input.version}}</b>
          in {{item.env}}
        </div>
        <div>
          Started deployment at
          <b>{{ dt(item.d.data.start_time)| amLocal | amDateFormat:'ll LTS'}}</b>
          <ng-container *ngIf="item.d.data.end_time"> and completed by
            <b>{{ dt(item.d.data.end_time)|
              amLocal | amDateFormat:'ll LTS'}}</b>
          </ng-container>
        </div>

        <ng-container *ngIf="item.d.data.end_time">
          <div>Took
            <b>{{ buildTime(item) | secondsToTime}}</b>
          </div>
        </ng-container>
        <br>
        <div>Version
          <b>{{item.version}}.{{item.d.build_number}}</b>
        </div>
        <div (click)="openLog(convertApp(item), 'deploy')" [ngClass]="{
                    'blue-label': item.status == 'success',
                    'red-label': item.status == 'failed',
                    'orange-label': item.status == 'running',
                    'ulinef': true
                }">{{item.status|uppercase}}
        </div>
        <div class="pull-left">
          <span *ngIf="item.d.error_count == 0" class="text-success">{{item.d.error_count}} error(s)</span>
          <span (click)="openLog(convertApp(item), 'deploy', 'error')" *ngIf="item.d.error_count > 0"
                class="text-danger" style="cursor: pointer; text-decoration: underline">{{item.d.error_count}}
            error(s)</span>
          <br>
          <span *ngIf="item.d.warning_count == 0"
                class="text-success">{{item.d.warning_count}} warning(s)</span>
          <span (click)="openLog(convertApp(item), 'deploy', 'warn')" *ngIf="item.d.warning_count > 0"
                class="text-warning" style="cursor: pointer; text-decoration: underline">{{item.d.warning_count}}
            warning(s)</span>
        </div>
        <div class="pull-right">
          <button (click)="openLog(convertApp(item), 'deploy')" class="btn btn-default mr-5">L</button>
          <button (click)="openData(item, 'deploy')" class="btn btn-default">D</button>
        </div>

      </td>
    </tr>
  </ng-container>

  <tr *ngIf="loading">
    <td align="center" colspan="2">
      <span class="glyphicon glyphicon-refresh spinner"></span>
    </td>
  </tr>

  <tr *ngIf="!loading && !appList.data.length">
    <td align="center" colspan="2">
      <span class="text-warning">No data to display</span>
    </td>
  </tr>

  <tr *ngIf="!loading && page < (appList.total_pages - 1)">
    <td align="center" colspan="2">
      <button (click)="loadMore()" class="btn">Load more</button>
    </td>
  </tr>

  </tbody>
</table>
