@font-face {
  font-family: Avenir; /* Имя шрифта */
  src: url('/assets/fonts/avenir-roman.woff'); /* Путь к файлу со шрифтом */
}


html {
  width: 100%;
  height: 100%;
  display: table;
  margin: 0;
}

body {
  width: 100%;
  display: table-cell;
  font-family: Avenir, sans-serif;
  position: relative;
  box-sizing: border-box;
  padding: 0 0 155px;
}

html, body {
}

a.bold {
  font-weight: bold !important;
}

a:not([href]) {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.navbar-default {
  background: rgba(3, 168, 243, 1) none;
  border-radius: 0;
  border-width: 0;

}

.navbar-header {
  z-index: 2;
}

.navbar-brand {
  margin-left: 0 !important;
  box-sizing: content-box;
  float: none;
  height: 33px;
  width: 143px;
  display: block;
  padding: 8px 20px;
  font-size: 18px;
  line-height: 20px;
  /*border: solid red 1px;*/
}

@media (min-width: 768px) {
  .navbar-header {
    float: none;
    position: absolute;
    left: 0;
    top: 0;
  }

  .navbar-collapse {
    position: relative;
  }

  .navbar-center {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  .navbar-right {
    position: absolute;
    top: 0;
    right: 0;
  }
}


.form-control, .form-control:focus {
  border-radius: 4px;
  border: 2px solid rgba(176, 176, 176, 1);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-error .form-control, .has-error .form-control:focus {
  border-color: rgba(255, 57, 81, 1);
  -webkit-box-shadow: none;
  box-shadow: none;

}


.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: rgba(251, 251, 251, 0.7);
  padding: 15px 0 15px 0;
  margin: 0 25px;
}

.navbar-nav.navbar-right > li > a, .navbar-nav.navbar-right > li > a:focus, .navbar-nav.navbar-right > li > a:hover {
  display: inline-block;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(251, 251, 251, 1);
  background: transparent none repeat-x;
  font-weight: 900;
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    border-bottom: solid #0081bc 5px;
    padding: 15px 0 10px 0;
  }
}

.dropdown-toggle {
  cursor: pointer;
}


li.nav-icons a {
  margin: 0 14px !important;
}

.cloud {
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 0 !important;
}

.vcenter {
  vertical-align: middle;
}

.t {
  display: table;
  width: 100%;
}

.trow {
  display: table-row;
}

.shadow {
  background-color: white;
  -webkit-box-shadow: 0 31px 46px 0 rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 31px 46px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 31px 46px 0 rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  border: 1px solid rgba(224, 224, 224, 1);
}

.btn, .btn:active {
  border-radius: 23px;
  box-shadow: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0;
  outline-offset: -2px;
}

.btn-default, .btn-default:hover:active:focus {
  color: white !important;
  text-shadow: none;
  font-weight: 900;
  border-width: 0;
  background-image: none;
  background-color: rgba(3, 168, 243, 1) !important;
}

.btn-success, .btn-success:hover:active:focus {
  color: white !important;
  text-shadow: none;
  font-weight: 900;
  border-width: 0;
  background-image: none;
  background-color: #5cb85c !important;
}

.btn-danger, .btn-danger:hover:active:focus {
  color: white !important;
  text-shadow: none;
  font-weight: 900;
  border-width: 0;
  background-image: none;
  background-color: #c9302c !important;
}

.wide {
  height: 45px;
}

.text-danger {
  color: rgba(255, 57, 81, 1);
}

.header {
  margin-top: 20px;
}

.header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-pills.pages > li > a, .nav-pills.pages > li > a:focus, .nav-pills.pages > li > a:hover {
  height: 32px;
  width: 44px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  border: solid rgba(3, 168, 243, 1) 1px;
  margin: 0 2px;
}

.nav-pills.pages > li.active > a, .nav-pills.pages > li.active > a:focus, .nav-pills.pages > li.active > a:hover {
  border: solid rgba(3, 168, 243, 1) 1px;
  background-color: rgba(3, 168, 243, 1);
}

.nav-pills.pages > li > a.equalizer {
  background-image: url(/assets/images/ic_equalizer.png);
}

.nav-pills.pages > li.active > a.equalizer {
  background-image: url(/assets/images/ic_equalizer_active.png);
}

.nav-pills.pages > li > a.alert {
  color: rgba(3, 168, 243, 1)
}

.nav-pills.pages > li.active > a.alert {
  color: white;
}

.nav-pills.pages > li > a.view {
  background-image: url(/assets/images/ic_view_module.png);
}

.nav-pills.pages > li.active > a.view {
  background-image: url(/assets/images/ic_view_module_active.png);
}

.nav-pills.pages > li > a.forum {
  background-image: url(/assets/images/ic_forum.png);
}

.nav-pills.pages > li.active > a.forum {
  background-image: url(/assets/images/ic_forum_active.png);
}

.nav-pills.pages {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .modal-expired {
    width: 450px !important;
  }

  .modal-dialog {
    width: 1030px;
  }
}

.modal .pages {
  margin-top: 20px;
  margin-left: 0;
}

.modal .nav-pills.pages > li:first-child > a {
  margin-left: 0;
}

.modal-body {
  padding: 0;
}

.modal-body .table.ptable > tbody > tr > td {
  padding-top: 25px;
  padding-bottom: 25px;
}

.modal-body .table > tbody > tr > td:first-child, .modal-body .table > tbody > tr > th:first-child {
  padding-left: 30px;
}

.modal-body .table > tbody > tr > td:last-child, .modal-body .table > tbody > tr > th:last-child {
  padding-right: 30px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 2px solid #ddd;
}

.table {
  border-bottom: 2px solid #ddd;
}

.table-striped > tbody > tr.subheader:nth-of-type(odd) {
  background-color: #fff;
}

.table-striped > tbody > tr.subheader:nth-of-type(even) {
  background-color: #f9f9f9;
}

tr.subheader td, tr.subheader + tr td {
  padding-top: 0 !important;
  border-top: 0 solid #ddd !important;
}

tr.subheader td {
  padding-bottom: 0 !important;
}


tr.subheader td fieldset {
  text-align: center;
  border: solid #ddd;
  border-width: 1px 0 0 0;
  /*border-style: dashed;*/
  /*border-color: #ddd;*/
  height: 20px;
}

tr.subheader td fieldset legend {
  width: auto;
  font-size: 12px;
  border-bottom-width: 0;
  color: #aaa;
}

.caret-sort {
  display: inline-block;
  vertical-align: text-bottom;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  background-color: #cecece;
  color: #5c5c5c;
  font-size: 9px;
  line-height: 15px;
  padding-left: 3px;
}

.caret-sort-active {
  background-color: rgba(0, 129, 188, 1);
  color: #fff;
}

.form-control.search {
  display: inline-block;
  height: 32px;
  width: 182px;
  border: solid rgba(216, 219, 223, 1) 1px;
  border-radius: 16px;
  background-image: url(/assets/images/search.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 35px;
  margin-right: 5px;
}

.form-control.days {
  display: inline-block;
  height: 32px;
  border: solid rgba(216, 219, 223, 1) 1px;
  border-radius: 16px;
}

.form-control.refresh {
  display: inline-block;
  height: 32px;
  border: solid rgba(216, 219, 223, 1) 1px;
  border-radius: 16px;
}

.form-control.app-options {
  display: inline-block;
  height: 32px;
  width: 54px !important;
  border: solid rgba(216, 219, 223, 1) 1px;
  border-radius: 16px;
  text-align: center;
}

.calendar .form-control {
  display: inline-block;
  height: 32px;
  width: 200px;
  border: solid rgba(216, 219, 223, 1) 1px;
  border-radius: 16px;
  margin-left: 10px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.calendar label {
  font-weight: normal;
  color: #999;
  font-size: 13px;
}

.caret-sort .glyphicon {
  vertical-align: middle;
}

.uline {
  text-decoration: underline;
}

.ulinef {
  text-decoration: underline;
  cursor: pointer;
}

.blue-label {
  font-size: 15px;
  font-weight: 900;
  color: rgba(3, 168, 243, 1);
}

.red-label {
  font-size: 15px;
  font-weight: 900;
  color: rgba(208, 2, 27, 1);
}

.orange-label {
  font-size: 15px;
  font-weight: 900;
  color: rgba(245, 166, 35, 1);
}

.yellow-label {
  font-size: 15px;
  font-weight: 900;
  color: rgba(245, 231, 39, 1);
}

.green-label {
  font-size: 15px;
  font-weight: 900;
  color: rgba(114, 219, 131, 1);
}

.num {
  font-weight: 900;
  display: inline-block;
  width: 23px;
}

.text-success {
  font-weight: 500;
  color: rgba(114, 219, 131, 1);
}

.text-warning {
  font-weight: 500;
  color: rgba(245, 166, 35, 1);
}

.text-danger {
  font-weight: 500;
  color: rgba(208, 2, 27, 1);
}

.modal-header {
  padding: 30px 30px 0px 30px;
  border-bottom: none;
}

.close {
  font-size: 36px;
  font-weight: normal;
  color: #333333;
  opacity: 1;
}

.unbold {
  font-weight: normal;
}

.window {
  /*width: 250px;*/
  display: inline-block;
  height: 68px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 3px 7px;;
  overflow: hidden;
  text-align: center;
  background-color: #e2f6ff;
  padding: 10px 25px;
}

.window.light {
  background-color: #f0faff;
}

.window .number {
  color: #0280ba;
  font-size: 24px;
  line-height: 32px;
}

.window .number small {
  font-size: 20px;
}

.window .word {
  color: rgba(2, 128, 186, 0.5);
  font-size: 14px;
}

.ptable.table > tbody > tr > td {
  /*vertical-align: middle;*/
}

.big {
  font-size: 19px;
}

.fs16 {
  font-size: 16px;
}

.vspacer {
  height: 16px;
}

.daterangepicker .daterangepicker_input i {
  position: absolute;
  left: 22px;
  top: 8px;
}

.daterangepicker .input-mini.active {
  border: 1px solid #08c;
  border-radius: 16px;
}

.daterangepicker td.start-date {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.daterangepicker td.end-date {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.daterangepicker td.start-date.end-date {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.instances {
  margin-left: 30px;
  margin-bottom: 20px;
}

.nav-pills.instances > li.active > button, .nav-pills.instances > li.active > button:hover:active:focus {
  border-color: #a9a9a9;
  background-color: #a9a9a9;
  font-weight: bold;
}

.nav-pills.instances > li > button, .nav-pills.instances > li > button:hover:active:focus {
  height: 32px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  line-height: 13px;
  color: #333333;
  background-color: #ececec;
  border: solid #dbdbdb 1px;
  padding: 0 15px;
}

.nav-pills.instances > li {
  padding: 0 20px 0 20px;
  border-left: solid #e1e1e1 2px;
}

.nav-pills.instances > li.summary {
  padding: 0 20px 0 0;
  border-left: none;
}

.graph-header {
  position: absolute;
  text-align: center;
  bottom: -55px;
  width: 100%;
  font-weight: bold;
  font-size: 14px;

}

.info-cell {
  position: relative;
  height: 68px;
  margin-bottom: 50px;
}

.graph-cell {
  position: relative;
  height: 200px;
  margin-bottom: 100px;
}

.graph-header .btn-default, .graph-header .btn-default:hover:active:focus {
  color: #333 !important;
  text-shadow: none;
  font-weight: normal;
  border: solid #e7e7e7 1px;
  box-shadow: none;
  background-image: none;
  background-color: #fff !important;
  height: 25px;
  line-height: 14px;
}

.graph-header .btn-default.active, .graph-header .btn-default.active:hover:active:focus {
  color: #fff !important;
  text-shadow: none;
  font-weight: normal;
  border: solid #0094d8 1px;
  box-shadow: none;
  background-image: none;
  background-color: #0094d8 !important;
}

.chart {
  margin-top: 20px;
}

.table.ltable {
  border-bottom-width: 0;
}

.table.ltable > tbody > tr > td {
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-width: 0;
}

.table.lhtable {
  border-bottom-width: 1px;
  background-color: rgb(249, 249, 249);
  margin-bottom: 0;
}

.table.lhtable > tbody > tr > td {
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-width: 1px;
}

.table.ltable .btn {
  border-radius: 8px;
  padding: 1px 4px 0 5px;
  font-size: 11px;
}

fieldset.fsheading {
  text-align: center;
  border: solid #ddd;
  border-width: 2px 0 0 0;
  /*border-style: dashed;*/
  height: 30px;
  margin-bottom: 20px;
}

fieldset.fsheading legend {
  width: auto;
  font-size: 20px;
  border-bottom-width: 0;
  color: #bbb;
  padding: 0 10px;
}

.spinner {
  animation: spin 2s infinite linear;
}

pre {
  background-color: white !important;
}

code.hljs {
  padding: 0 !important;
}

.data-view {
  padding: 30px;
}

.data-view pre {
  /*padding: 0 !important;*/
  /*border-width: 0;*/
  /*box-shadow: .1em .1em .5em rgba(0,0,0,.45);*/
  counter-reset: line;
}

.data-view pre code:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 65px;
  text-align: right;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
}

.log-content {
  font-family: monospace;
  word-break: break-word;
  width: 100%;
  white-space: pre-line;
}

hr {
  border-top: 2px solid #c2c2c2;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.modal-dialog.modal-650 {
  width: 650px;
}

.mr-5 {
  margin-right: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.graylog-data {
  height: calc(100vh - 411px) !important;
  overflow: auto;
  margin-top: 20px;
}


.text-criticals {
  font-weight: 500;
  color: rgba(236, 62, 64, 1)
}

.text-highs {
  font-weight: 500;
  color: rgba(255, 154, 43, 1);
}

.text-mediums {
  font-weight: 500;
  color: rgba(245, 216, 1, 1);
}

.text-lows {
  font-weight: 500;
  color: rgba(0, 164, 109, 1);
}


.w-5 {
  width: 5%;
}
.w-6 {
  width: 6%;
}
.w-7 {
  width: 7%;
}
.w-8 {
  width: 8%;
}
.w-9 {
  width: 9%;
}

.w-10 {
  width: 10%;
}
.w-11 {
  width: 11%;
}
.w-12 {
  width: 12%;
}
.w-13 {
  width: 13%;
}
.w-14 {
  width: 14%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-17 {
  width: 17%;
}

.w-18 {
  width: 18%;
}
.w-19 {
  width: 19%;
}

.w-20 {
  width: 20%;
}

.w-21 {
  width: 21%;
}

.w-22 {
  width: 22%;
}
.w-23 {
  width: 23%;
}
.w-24 {
  width: 24%;
}

.w-25 {
  width: 25%;
}

.w-26 {
  width: 26%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

.vulnerabilities {
  width: 1080px;
}

app-modal-log-view td div.log-text.no-wrap {
  width: 661px !important;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

#modal-body-builds .log-content .log-text {
   white-space: pre-wrap;
}