<div (inViewportAction)="inView($event)"
     [inViewportOptions]="{root: container, partial: false}"
     [ngClass]="{'graph-cell': type != 'info', 'info-cell': type == 'info'}"
     inViewport>
  <div *ngIf="loader"
       [ngStyle]="{'padding-top.px': type == 'info' ? 10: 90, 'padding-bottom.px': type == 'info' ? 10: 90}"
       class="chart text-center">
    <span class="glyphicon glyphicon-refresh spinner"></span>
  </div>
  <div [style.width.px]="type =='info'?null:460" class="center-block">
    <div *ngIf="!loader && inViewTriggered" class="chart center-block text-center">
      <chart *ngIf="type !='info'" [data]="data" [options]="options" [type]="type"></chart>
      <div *ngIf="type =='info'" class="window light center-block">
        <div class="number">{{infoValue}}</div>
        <div class="word">{{title}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="type != 'info'" class="graph-header">{{title}}</div>
</div>
